.container {
    background: #fff;
    min-height: 100%;
    padding-bottom: 20px;
}
.toolbar {
    height: 50px;
    display: flex;
    padding-left: 25px;
    align-items: center;
}
.toolbar div{
    width:58px;
    height:15px;
    font-size:14px;
    font-weight:400;
}
.filter {
    border-top: 1px solid #e6e6e6;
    padding: 0 25px;
}
.filterBox {
    padding: 20px 0;
}
.batchSet{
    width:50px;
    height:12px;
    font-size:12px;
    cursor:pointer;
    font-weight:400;
    color:rgba(153,153,153,1);
}