.toolbar {
  height: 50px;
  display: flex;
  padding-left: 25px;
  align-items: center;
}

.toolbar button {
  font-size: 14px;
  color: #1a61dc;
}

.filter {
  border-top: 1px solid #e6e6e6;
  padding: 0 40px;
}
.filterBox {
  border-bottom: 1px solid #e6e6e6;
  padding: 20px 0;
}
.container {
  background: #fff;
  min-height: 100%;
  padding-bottom: 20px;
}
