.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  width: 200px;
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 35px;
}
.brandName {
  width: 150px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 20px;
}
.value {
  width: 150px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.createTime {
  width: 200px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.btn {
  width: 300px;
  display: inline-block;
  text-align: right;
  padding-right: 21px;
}
.addbox {
  padding: 15px 0;
  border-top: 1px solid #e6e6e6;
}
