.toolbar {
  height: 50px;
  display: flex;
  padding-left: 25px;
  align-items: center;
}

.toolbar button {
  font-size: 14px;
  color: #1a61dc;
}

.tdProductName i {
  font-size: 12px;
  color: #666666;
  margin-left: 5px;
}
