:global(.fatherItem .ant-checkbox-wrapper) {
  font-size: 14px !important;
  margin-left: 0;
  display: flex;
  align-items: center;
  height: 20px;
}

:global(.fatherItem .ant-checkbox-wrapper) span {
  /* height: 22px;
    line-height: 20px; */
}

:global(.fatherItem .ant-checkbox-inner) {
  width: 10px;
  height: 10px;
}

:global(.childItemRight) {
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
}

.childItem {
  display: flex;
  padding: 8px 0;
}
.childItemLeft {
  white-space: nowrap;
  border-right: 1px solid #cccccc;
  height: 10px;
  display: flex;
  align-items: center;
  position: relative;
  top: 4px;
}
