html,
body,
#root {
  height: 100%;
  font-weight: bolder;
}

body {
  margin: 0;
}

* {
  font-weight: initial;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb {
  border: 0px solid transparent;
}
*::-webkit-scrollbar-track {
  /* background-color: #052f60; */
}
*::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #cccccc;
}
*::-webkit-scrollbar-corner {
  background: transparent;
}

/* 全局弹窗样式 */
:global(.global-modal .ant-modal-header) {
  padding: 13px 24px;
  background: #f2f2f2;
}

:global(.global-modal .ant-modal-title) {
  font-size: 18px;
  font-weight: bold;
}

:global(.global-modal .ant-modal-close-x) {
  width: 50px;
  height: 50px;
  line-height: 50px;
}

:global(.global-modal .ant-modal-footer) {
  padding: 8px 40px;
  background: #f2f2f2;
}

:global(.global-modal-btn-ok) {
  width: 80px;
  height: 30px !important;
  /* background: #1a61dc !important; */
  margin-left: 20px !important;
}
:global(.global-modal-btn-cancel) {
  width: 80px;
  height: 30px !important;
}

/* 全局表单样式 */
:global(.global-form label) {
  font-size: 16px !important;
}

:global(.global-edit-form label) {
  font-size: 12px !important;
}

:global(.global-form input) {
  height: 40px;
  line-height: unset;
}

:global(.global-form .ant-form-explain) {
  white-space: nowrap;
}

:global(.minHeightFormItem) {
  margin-bottom: 0!important;
}

/* 全局table样式 */
:global(.global-table th),
:global(.global-table td) {
  padding: 4px 16px !important;
}

:global(.global-table th) {
  background: #eeeeee !important;
  font-size: 12px;
  border-top: 1px solid #e6e6e6;
}

/* 全局分页器 */
:global(.global-pagination) {
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: flex-end;
  padding-right: 20px;
}

:global(.global-pagination-data) {
  color: #cccccc;
  margin-left: 10px;
}

/* upload上传控件 */
:global(.global-uploader .ant-upload.ant-upload-select-picture-card) {
  width: 60px;
  height: 60px;
}